<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/biinterface.css">
</head>
<body class="background-color: aliceblue">
    <header>
        <div class="containertry">
            <nav class="flex">
                <div class="logo"><a href="/{{subjects}}/start">FaceFinder</a></div>
                <ul>
                    <li><a href="/{{subjects}}/start">Home</a></li>
                    <li><a href="/{{subjects}}/biinterface">Take Attendence</a></li>
                    <!-- <li><a href="/{{subjects}}/interface">Take Attendence</a></li> -->
                    <li>
                        <a href="/{{subjects}}/docs">History</a>
                        <!-- <a href="{{ url_for('docs', subjects=subject) }}">History</a> -->

                        <!-- <ul>
                            <li>
                                <a href="#">Per Student
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul>
                                    <li><a href="#"><form action="/" method="post">
                                        <label for="input_roll">Select a Roll Number:</label>
                                        <input type="number" id="input_roll" name="input_roll">
                                        <input type="submit" value="Submit">
                                    </form></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Per Day
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul>
                                    <li><a href="#"><form action="/" method="post">
                                        <label for="input_date">Select a Date:</label>
                                        <input type="date" id="input_date" name="input_date">
                                        <input type="submit" value="Submit">
                                
                                    </form></a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </li>
                    <!-- <li><a href="./upload">Upload Image</a></li> -->
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="card-container">
        <div class="card" style="width: 400px; height: 250px; margin-left: 250px; margin-top: 100px; background-color: lightyellow;">
            <div class="card-body">
                <h5 class="card-title" style="color: darkorchid; font-weight: 900; font-size: x-large;">FaceTrack Attendance</h5>
                <p class="card-text">Upload an image in which you want to mark attendence of students. <p style="font-weight:640">Wait for around 2-3 minutes after uploading 
                    image and you will get results...... </p></p>
                <a href="./interface" class="btn btn-primary">Proceed</a>
                <a href="./upload" class="btn btn-primary">Upload Image</a>
            </div>
        </div> 
        <div class="card" style="width: 400px; height: 250px; margin-left: 250px; margin-top: 100px; background-color: lightyellow;">
            <div class="card-body">
                <h5 class="card-title" style="color: darkorchid; font-weight: 900; font-size: x-large;">VidCheck Attendance</h5>
                <p class="card-text">A prompt will be opened after clicking on this. You can proceed by opening the prompt and then you will get Roll No. of students who are present.</p>
                <a href="./interfacevideo" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>


<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>
</html>