<!DOCTYPE html>
<html>
<head>
    <title>Compose Email</title>
    <link href="../static/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/email.css">
</head>
<body>
    <h1 class="title">Compose Email</h1>
    <form method="POST" action="/send_email/cse{{eligible_roll_numbers}}@iiti.ac.in">
        <label class="emailtitle" for="email_title">Email Title:</label>
        <input class="emailinput" type="text" name="email_title" id="email_title" placeholder="Regarding less attendence" required>
        <br>
        <label class="label" for="email_body">Email Body:</label>
        <textarea class="textarea" name="email_body" id="email_body" rows="12" required></textarea>
        <br>
        <input class="submit" type="submit" value="Send Email">
    </form>
</body>
</html>
