<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACEFINDER</title>
    <link rel="icon" href="ing/bulb.jpg">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="containertry">
            <nav class="flex">
                <div class="logo"><a href="/{{subjects}}/start">FaceFinder</a></div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/{{subjects}}/biinterface">Take Attendence</a></li>
                    <!-- <li><a href="/{{subjects}}/interface">Take Attendence</a></li> -->
                    <li>
                       
                        <a href="/{{subjects}}/docs">History</a>
                        <!-- <a href="{{ url_for('docs', subjects=subject) }}">History</a> -->

                        <!-- <ul>
                            <li>
                                <a href="#">Per Student
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul>
                                    <li><a href="#"><form action="/" method="post">
                                        <label for="input_roll">Select a Roll Number:</label>
                                        <input type="number" id="input_roll" name="input_roll">
                                        <input type="submit" value="Submit">
                                    </form></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Per Day
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul>
                                    <li><a href="#"><form action="/" method="post">
                                        <label for="input_date">Select a Date:</label>
                                        <input type="date" id="input_date" name="input_date">
                                        <input type="submit" value="Submit">
                                
                                    </form></a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </li>
                    <li><a href="./upload">Upload Image</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

        <h1 class="Finder">FACEFINDER</h1>
        <pre class="desc">
            Welcome to the world of advanced face detection 
            with FaceFinder, where attendance marking just 
            reached a whole new level of swiftness and 
            accuracy. Our system is designed to bring seamless 
            and contactless authentication for workplace, 
            schools, and events.
        </pre>
        <p class="start">GET STARTED</p>
        <div style="text-align: center; padding-top: 50px;">
        <img class="face" src="../static/imghome.png" alt="FACEFINDER">
        </div>
    <div>
        <div class="flexname">
            <div class="flex1">98%
                <br><p style="font-size: 20px;">Accuracy Rate</p>
            </div>
            <div class="flex2">🎯</div>
        </div>
        <div class="flexname">
            <div class="flex3">⌛</div>
            <div class="flex4">5
                <br><p style="font-size: 20px;">Seconds Matching Time</p>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 30px; padding-top: 30px;">
        <h2>How it works</h2>
        <p class="works">FaceFinder's sophisticated algorithms 
            compare the input images, providing a 
            match percentage within seconds. If the 
            match percentage exceeds the required 
            threshold, attendance is marked 
            automatically.</p>
    </div>
    
    <div style="padding-bottom: 100px;">
        <h2 class="Experience">
        Experience FaceFinder's unparalleled 
        face detection technology today.</h2>
        <table style="padding-left: 250px;">
            <th class="try">Try it now</th>
            <th style="width: 10px;"></th>
            <th class="learn">Learn more</th>
        </table>
    </div>

    <div>
        <h1 style="padding-left: 250px; color: white; font-size: 48px; padding-bottom: 30px;">Frequently Asked Questions</h1>
        <table style="padding-left: 250px; padding-right: 250px; padding-bottom: 30px;">
            <thead>
                <th class="head">How does FaceFinder ensure data privacy?</th>
                <th style="width: 20px;"></th>
                <th class="head">Can FaceFinder work with existing systems?</th>
            </thead>
            <tbody>
                <td style="width: 30%;">
                    <p class="body">
                        Our top priority is data privacy. We employ state-of-
                        the-art encryption methods to protect users’ personal 
                        information while adhering to stringent data 
                        protection policies.
                    </p>
                </td>
                <td style="width: 10%;"></td>
                <td style="width: 30%;">
                    <p class="body">
                        Absolutely! FaceFinder is designed to be easily 
                        integrated with your existing attendance systems, 
                        making implementation smooth and hassle-free.
                    </p>
                </td>
            </tbody>
        </table>
        <table style="padding-left: 250px; padding-right: 250px;">
            <thead>
                <th class="head">Does it work in low-light conditions?</th>
                <th style="width: 20px;"></th>
                <th class="head">What about false positive matches?</th>
            </thead>
            <tbody>
                <td style="width: 30%;">
                    <p class="body">
                        Yes, FaceFinder uses advanced algorithms to ensure 
                        accurate face detection even in less-than-ideal 
                        lighting environments.
                    </p>
                </td>
                <td style="width: 10%;"></td>
                <td style="width: 30%;">
                    <p class="body">
                        Our algorithms take into account various factors to 
                        minimize false positive matches, providing you with 
                        near-perfect precision.
                    </p>
                </td>
            </tbody>
        </table>
    </div>
</body>
</html>