<!DOCTYPE html>
<html>
<head>
    <title>New Route</title>
    <link rel="stylesheet" href="../static/new_route.css">
    <style>
        form {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1 class="title">Eligible Roll Numbers</h1>
    <div style="margin-left: 30px;">
        {% for roll_number in eligible_roll_numbers %}
            <p class="box">
                
                <span class="rollno">{{ roll_number }}</span>
                <!-- <a href="/send_email/cse{{roll_number}}@iiti.ac.in">Email</a> -->
                <a class="email" href="/edit_mail/{{roll_number}}">Email</a>
            </p>


        {% endfor %}
    </div>
</body>
</html>
